.custom-carousel .carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.custom-carousel .carousel-card {
  width: 100%;
  max-width: 300px;
  transition: transform 0.5s ease;
}

.custom-carousel .carousel-item:nth-child(2) .carousel-card,
.custom-carousel .carousel-item:nth-last-child(2) .carousel-card {
  transform: scale(0.5);
}

.custom-carousel .carousel-item:nth-child(3) .carousel-card {
  transform: scale(1);
}
